
.table-ico{
    width:26px;
    height:26px;
    border-radius:5px;
    background:var(--surface2);
    border:1px solid var(--border);
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:10px;
    font-weight:700;
    color:var(--t2);
    font-family:'IBM Plex Mono',monospace;
}
.filter-icon {
    font-size: .9rem;
}