/* style.css da view */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
  }
  
  /* tablet */
  @media (max-width: 992px) {
    .menu-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  /* mobile */
  @media (max-width: 576px) {
    .menu-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }