:root{
    --bg:#ECEEF0;--surface:#fff;--s2:#F6F7F8;--s3:#EEF0F4;
    --b1:#E0E3E8;--b2:#CDD1D9;
    --t1:#0D1A1F;--t2:#3D5159;--t3:#7E959E;
    --ac:#0E7C7B;--ach:#0A6362;--al:#EAF5F5;--ab:#A8D8D8;--at:#054040;
    --green:#059669;--gl:#ECFDF5;--gb:#6EE7B7;
    --amber:#D97706;--aml:#FFFBEB;--ambd:#FCD34D;
    --red:#DC2626;--rl:#FEF2F2;--rb:#FCA5A5;
    --blue:#2563EB;--bl:#EFF6FF;--bb:#BFDBFE;
}

.p-menubar .p-menubar-root-list .p-menuitem .p-menuitem-link, .p-menuitem-icon{
    background-color: var(--c-blue-primary) !important;
    text-decoration: none;
    color: var(--c-white-mute) !important;
    border-radius: 3px;
}
.p-menubar, .p-menubar-root-list{
    display: flex !important;
    align-items: center !important;
}
.order-item-image {
    width: 38px !important;
}

.psec{padding:14px 16px;border-bottom:1px solid #ECEEF0;}
.psec:last-child{border-bottom:none;}
.psec-title{font-size:10px;font-weight:600;text-transform:uppercase;letter-spacing:.08em;color: #7E959E ;margin-bottom:10px;display:flex;align-items:center;gap:6px;}
.psec-title::after{content:'';flex:1;height:1px;background: #ECEEF0;}

.dish-grid{display:grid;grid-template-columns:1fr 1fr;gap:8px;}
.dcard{background:var(--s2);border:1px solid var(--b1);border-radius:8px;overflow:hidden;cursor:pointer;transition:all .12s;}
.dcard:hover{border-color:var(--ab);background:var(--al);}
.dcard-img{
    width:100% !important;
    height:72px;
    object-fit: cover;
    display:block;
    background:var(--s3);
}
.dcard-body{padding:7px 9px;}
.dcard-name{font-size:11px;font-weight:500;color:var(--t1);line-height:1.3;}
.dcard-price{font-size:11px;font-weight:600;color:var(--ac);font-family:'IBM Plex Mono',monospace;margin-top:2px;}
.dcard-btn{width:22px;height:22px;border-radius:4px;background:var(--ac);color:#fff;border:none;display:flex;align-items:center;justify-content:center;cursor:pointer;float:right;margin-top:-20px;margin-right:0;}
.dcard-btn svg{width:10px;height:10px;}

.tp-selected{
    background:var(--ac) !important;
    border-color:var(--ac);
    color: #fff !important;
}


.table-select-grid{display:grid;grid-template-columns:repeat(4,1fr);gap:6px;}
.ts-btn{height:44px;border-radius:7px;border:1.5px solid var(--b1);background:var(--s2);display:flex;flex-direction:column;align-items:center;justify-content:center;gap:1px;cursor:pointer;transition:all .12s;}
.ts-btn:hover{border-color:var(--ac);background:var(--al);}
.ts-btn.free-t{border-color:var(--b1);}
.ts-btn.occ-t{border-color:#FCD34D;background:#FFFDF5;cursor:not-allowed;opacity:.5;}
.ts-btn .tn{font-size:13px;font-weight:700;color:var(--t1);font-family:'IBM Plex Mono',monospace;}
.ts-btn .ts{font-size:9px;color:var(--t3);}
.tn-white{font-size:13px;font-weight:700;color: #fff;font-family:'IBM Plex Mono',monospace;}
.ts-white{font-size:9px;color: white;}


.step-circle{
    width:26px;
    height:26px;
    border-radius:50%;
    border:1.5px solid var(--b2);
    display:flex;align-items:center;
    justify-content:center;
    font-size:12px;
    font-weight:700;
    color:var(--t3);
    flex-shrink:0;
    transition:all .2s;
}
.step-circle.done{background:var(--ac);border-color:var(--ac);color:#fff;}
.step-circle.active{background:var(--al);border-color:var(--ac);color:var(--at);}

.p-stepper .p-stepper-nav, .p-stepper-panels {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.p-stepper .p-stepper-panels .p-stepper-content {
    min-height: 75vh !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.t-selected-img {
    height: 28px;
    width: 18px;
    border-radius: 5px;
    object-fit: contain;
    flex-shrink: 0;
}